<div class="wrapper">
  <div class="footer_container">
    <nav>
      <ul>
        <a href="/about">About me</a>
      </ul>
    </nav>
    <div class="social_links">
      <a href="https://twitter.com/{{ site.social_networks.twitter }}" target="_blank" class="twitter">
        <span class="hide">Twitter</span>
      </a>
      <a href="https://www.instagram.com/{{ site.social_networks.instagram }}" class="instagram">
        <span class="hide">Instagram</span>
      </a>
    </div>
  </div>
</div>
