header
  padding: 2em

  #logo
    border: 0
    color: #002147
    display: inline-block
    font-family: 'Leckerli One'
    font-size: 40px
    text-decoration: none

    &:hover, &:focus
      color: #000

@media screen and (min-width: 480px)

  header
    #logo
      font-size: 50px

@media screen and (min-width: 740px)

  header
    #logo
      font-size: 60px
